/* Przykładowe style kalendarza */
.rbc-calendar {
    font-family: 'Arial', sans-serif;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.rbc-toolbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #356F90, #AD4027); /* Twój gradient */
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.rbc-toolbar button {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.rbc-toolbar button:hover {
    text-decoration: underline;
}

.rbc-event {
    background-color: #356F90;
    color: white;
    border: 1px solid #356F90;
    border-radius: 5px;
    padding: 2px 5px;
}

.rbc-event:hover {
    background-color: #AD4027;
    border: 1px solid #AD4027;
}

.rbc-slot-selection {
    background-color: #AD4027;
    border: 1px solid #AD4027;
    border-radius: 3px;
}
