.container{
    margin: auto;
    margin-top: 200px;

    #position: fixed;
    #top: 50%;
    #left: 50%;
    #transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #356F90;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #356F90;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 9px;
}

.input img{
    margin: 0px 30px;
    width: 25px;
    height: 25px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #AD4027;
    cursor: pointer;
}

.submit-container {
    display: flex;
    flex-direction: row; /* Ustawiamy kierunek flex na wiersz */
    justify-content: center; /* Wyśrodkowujemy w poziomie */
    gap: 30px;
    margin: 10px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -40px;
    width: 220px;
    height: 59px;
    color: white;
    background: #AD4027;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

.confirm-button{
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #AD4027;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    gap: 30px;
    margin: 20px auto;
}