/* MainView.css */
/* MainView.css */

.main-view {
    background: white;
    height: 100vh; /* Wysokość na 100% wysokości widoku (viewport height) */
    overflow: hidden; /* Ukryj ewentualne przepełnienie */
}

.with-background {
    background-image: url('../Assets/logo.png');
    background-size: contain; /* Dostosuj rozmiar obrazu do kontenera, zachowaj proporcje */
    background-repeat: no-repeat;
    background-position: center; /* Wyśrodkuj obraz */
    height: calc(100vh - 16px); /* Ustaw wysokość na 100% widoku minus ewentualne przesunięcia */
    margin-bottom: 16px; /* Zapobiegaj występowaniu białego paska na dole poprzez dodanie marginesu */
}
img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.main-view {
    display: flex;
    align-items: stretch;
    transition: margin-left 0.5s;
}

.sidebar-toggle {
    position: absolute;
    top: 10px;
    z-index: 2;
    transition: left 0.5s; /* Dodaj przejście dla przycisku */
    background: none; /* Usuń tło */
    border: none; /* Usuń obramowanie */
    padding: 0; /* Usuń wewnętrzny odstęp */
}

.sidebar-toggle.left {
    left: 0px;
}

.sidebar-toggle.right {
    left: 15%;
}

.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -15%;
    background: linear-gradient(#356F90, #AD4027);
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.sidebar a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s, font-weight 0.3s, text-shadow 0.3s; /* Dodaj przejścia */
    margin-bottom: 10px; /* Dodaj odstęp między elementami */
}

.sidebar a:hover {
    transform: scale(1.1); /* Powiększenie tekstu o 10% */
    font-weight: bold; /* Ustawienie tekstu jako pogrubiony */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodaj cień do tekstu */
}


.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie w pionie */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    height: 100%; /* Rozciągnięcie zawartości na całą wysokość sidebaru */
}

.centered-content h2 {
    font-size: 24px;
    margin-top: 80px;
}

.centered-content a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}


.logout-button {
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #AD4027;
    background: white;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    gap: 30px;
    text-align: center; /* Wyśrodkowanie zawartości */
    margin-top: 400px; /* Umieść na dole */
}

.main-view.sidebar-open {
    margin-left: 250px;
}

.sidebar-open .sidebar {
    left: 0;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: white;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Białe tło z przezroczystością */
    border: 1px solid #356F90; /* Niebieska obramówka */
    border-radius: 10px; /* Zaokrąglone rogi */
    padding: 20px;
    text-align: center;
    z-index: 1000; /* Ustaw wysoki index warstwy dla modala */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal > * {
    margin: 10px 0; /* Dostosuj odstęp według własnych preferencji */
}

.modal-content {
    text-align: left;
    margin-top: 10px;
}

.modal h2 {
    color: #356F90; /* Kolor tytułu */
}

.react-datepicker-wrapper .react-datepicker__input-container input {
    /* Dostosuj styl inputa, jeśli to konieczne */
}

.react-datepicker {
    font-family: inherit;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
    background-color: #356F90;
    color: white;
}

.react-datepicker__day {
    color: #333;
}

.react-datepicker__day--selected {
    background-color: #356F90;
    color: white;
}

.react-datepicker__navigation {
    background-color: #356F90;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.react-datepicker__navigation--next {
    right: 10px;
}

.react-datepicker__navigation--previous {
    left: 10px;
}

.react-datepicker__time-list {
    list-style: none;
    padding: 0;
}

.react-datepicker__time-list-item {
    margin: 0;
    padding: 8px;
    cursor: pointer;
    background-color: #356F90;
    color: white;
    border: 1px solid #356F90;
    border-radius: 4px;
}

.react-datepicker__time-list-item:hover {
    background-color: #24496d;
}

/* Dodaj do istniejących stylów */

.modal button:hover {
    border: 1px solid #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #AD4027;
    transition: 0.3s; /* Dodaj płynność do efektu */
}

/* Dodaj do istniejących stylów */

.close-button {
    display: block;
    border: 1px solid #356F90;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: white;
    color: #356F90;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    gap: 30px;
    margin: 20px auto;
    text-align: center; transition: border-color 0.3s, box-shadow 0.3s;
}

.add-button {
    display: block;
    border: 1px solid #356F90;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: white;
    color: #356F90;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    gap: 30px;
    margin: 20px auto;
    text-align: center; transition: border-color 0.3s, box-shadow 0.3s;
}

.add-button:disabled {
    background-color: #ddd; /* Kolor tła dla przycisku w stanie disabled */
    color: #aaa; /* Kolor tekstu dla przycisku w stanie disabled */
    cursor: not-allowed; /* Zmiana kursora na "not-allowed" w stanie disabled */
    border-color: #ccc; /* Kolor obramowania dla przycisku w stanie disabled */
}

.button {
    display: inline-block; /* Zmieniono display na inline-block */
    border: 1px solid #356F90;
    outline: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    color: #356F90;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    gap: 30px;
    margin: 20px auto;
    text-align: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}


/* Dodaj do istniejących stylów */

.button:hover {
    border: 1px solid #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #AD4027;
    transition: 0.3s; /* Dodaj płynność do efektu */
}

.patient-medications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Inne istniejące style dla diva */
}

.medication-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    height: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
    border: 1px solid #356F90;
    margin-bottom: 20px; /* Dodaj odstęp na dole */
}

.medication-picker-container:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.medication-picker-container select {
    height: 40px;
    width: 90%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    color: #356F90;
    outline: none;
}

.date-time-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
    border: 1px solid #356F90;
}

.date-time-picker-container:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.date-time-picker-container .react-datepicker-wrapper,
.date-time-picker-container .react-datepicker__input-container {
    width: 70%;
}

.date-time-picker-container input {
    height: 30px;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    color: #356F90;
    outline: none;
    margin-top: 10px;
}