/* Dodaj nowy styl dla podświetlonych elementów */
.hovered {
    border: 2px solid #007bff; /* Przykładowy kolor obramówki */
    padding: 10px;
    background-color: #f0f0f0; /* Przykładowy kolor tła */
    cursor: pointer;
}

/* Styl dla elementów listy */
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.drug-field2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 60%;
    border: 1px solid #AD4027;
    background-clip: padding-box; /* Zapobiegnij rozmyciu tła w obramówce */
}

.drug-field2 ul {
    padding: 0;
}

.drug-field2 li {
    list-style: none;
    margin: 10px 0; /* Odstęp między elementami listy */
    text-align: center;
}

/* Nowe style dla leków na liście */
.drug-field2 ul li {
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.drug-field2 ul li:hover {
    background-color: white; /* Białe tło po najechaniu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cień */
    border: 1px solid #356F90; /* Niebieskie obramowanie */
}

.drug-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Białe tło z przezroczystością */
    border: 1px solid #356F90; /* Niebieska obramówka */
    border-radius: 10px; /* Zaokrąglone rogi */
    padding: 20px;
    text-align: center;
}


.drug-modal > * {
    margin: 5px 0; /* Dostosuj odstęp według własnych preferencji */
}


.modal-content {
    text-align: left;
    margin-top: 10px;
}

.drug-modal h2 {
    color: #356F90; /* Kolor tytułu */
}

.close-button-MOD button {
    display: flex;
    border: 1px solid #356F90;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: white;
    color: #356F90;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    gap: 30px;
    margin: 20px auto;
    text-align: center; transition: border-color 0.3s, box-shadow 0.3s;
}

.close-button-MOD button {
    display: flex;
    border: 1px solid #356F90;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: white;
    color: #356F90;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    gap: 30px;
    margin: 20px auto;
    text-align: center; transition: border-color 0.3s, box-shadow 0.3s;
}

.close-button-MOD button:hover {
    border: 1px solid #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #AD4027;
}

.content.with-background #save-button {
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #AD4027;
    background: white;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    gap: 30px;
    margin: 20px auto;
    text-align: center; /* Wyśrodkowanie zawartości */
}

.drug-info {
    display: flex;
    align-items: center;
    margin-bottom: -25px;
}

drug-info > * {
    margin: 10px 0; /* Zmniejsz odstęp góra i dół */
}

.drug-modal ul {
    list-style-position: inside; /* Umieść znaki wiodące wewnątrz listy */
    text-align: center; /* Wyśrodkuj tekst wewnątrz listy */
}

ul.centered-list {
    text-align: center; /* Wyśrodkuj tekst wewnątrz listy */
    list-style-position: inside; /* Umieść znaki wiodące wewnątrz listy */
}

.centered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

input[type="checkbox"]:checked {
    background-color: #0077b6; /* Zmień kolor tła na niebieski po zaznaczeniu checkboxa */
}

.drug-info button {
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 40px; /* Zmniejszenie szerokości przycisku na potrzeby ikony */
    height: 40px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin: 20px 10px 20px 10px; /* Zmniejszenie marginesu z lewej strony i odstępu od tekstu */
}

.checkbox-slider-container {
    display: flex;
    align-items: center;
}

.checkbox-slider {
    flex: 1;
    display: flex;
    align-items: center;
}

.checkbox-slider input[type="range"] {
    margin-left: 10px; /* Reguluje odstęp między checkboxem a suwakiem */
}

/* Możesz dostosować style suwaka i jego kontrolek według potrzeb */
.slider-controls {
    display: flex;
    align-items: center;
}

.slider-controls input[type="range"] {
    width: 100px; /* Szerokość suwaka */
}

.slider-value {
    margin-left: 10px; /* Odstęp między suwakiem a wyświetlaną wartością */
}


.product-list{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: rgba(249, 249, 249, 0.7); /* Szare tło z 50% przezroczystości */
 padding: 20px;
 border-radius: 10px;
 margin: 0 auto;
 width: 40%;
 border: 1px solid #AD4027;
 background-clip: padding-box; /* Zapobiegnij rozmyciu tła w obramówce */
}
