/* NewDrug.css */
.input-container input {
    width: 500px; /* Ustaw stałą szerokość */
    height: 30px; /* Ustaw wysokość */
    padding: 5px; /* Dodaj wewnętrzny odstęp */
    border: 1px solid #ccc; /* Dodaj obramowanie */
    border-radius: 5px; /* Zaokrągl brzegi */
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.drug-entry-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.5); /* Szare tło z 50% przezroczystości */
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
}

.dose-count.custom-dosing-container {
    display: flex;
    align-items: center;
}

.dose-count-field, .custom-dosing-field {
    flex: 1;
    margin-right: 20px; /* Dodatkowy margines między polami */
}
