/* NewDrug.css */
.input-container input {
    width: 500px; /* Ustaw stałą szerokość */
    height: 30px; /* Ustaw wysokość */
    padding: 5px; /* Dodaj wewnętrzny odstęp */
    border: 1px solid #ccc; /* Dodaj obramowanie */
    border-radius: 5px; /* Zaokrągl brzegi */
}

.alert {
    background-color: #AD4027;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.hover-text-container {
    margin: 0 auto; /* Ustaw marginesy poziome na auto, aby umieścić w środku */
    flex-direction: column;
    width: 20vw; /* Szerokość 20% szerokości widoku */
    position: absolute;
    top: 30%;
    right: 10vw; /* 10vw od prawej - lekkie przesunięcie w prawo */
    height: 20vh; /* Wysokość 70% wysokości widoku, zgodnie z drug-entry-field */
    display: flex;
    align-items: center; /* Wyśrodkuj zawartość w pionie na środku */
    background-color: rgba(245, 245, 245, 0.5); /* Szare tło z 50% przezroczystości */
    border-radius: 10px; /* Zastosuj zaokrąglenie krawędzi */
    border: 1px solid #AD4027;
    justify-content: center;
    background-clip: padding-box;
}

/* Dodaj styl dla h2 */
.hover-text-container h2 {
    margin-bottom: auto; /* Ustaw margines na auto, aby przesunąć tekst na górę */
}


.hover-text {
    background-color: transparent;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hover-text2 {
    background-color: transparent;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-text3 {
    background-color: transparent;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-text-container:hover .hover-text {
    display: inline-block;
}

.drug-entry-container {
    position: relative;
    display: flex;
    justify-content: flex-start; /* Przesuń zawartość w lewo */
}

.drug-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.5); /* Szare tło z 50% przezroczystości */
    border-radius: 10px;
    margin: 5% 0 0 10%;
    width: 50%;
    border: 1px solid #AD4027;
    background-clip: padding-box; /* Zapobiegnij rozmyciu tła w obramówce */
    height: 70%;
}


.drug-entry-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.5); /* Szare tło z 50% przezroczystości */
    border-radius: 10px;
    margin: 5% 0 0 10%;
    width: 50%;
    border: 1px solid #AD4027;
    background-clip: padding-box; /* Zapobiegnij rozmyciu tła w obramówce */
    height: 70%;
}

.search-input-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid #356F90;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input-container:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-input-container input {
    height: 20px; /* Ustaw wysokość na 40 pikseli */
    width: 90%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px; /* Zwiększ rozmiar czcionki na przykład do 16px */
    color: #356F90; /* Ustaw kolor tekstu na #356F90 */
}

.search-input-container input::placeholder {
    color: #356F90; /* Kolor placeholdera na #356F90 */
}

.search-input-container input:focus {
    outline: none; /* Usuń domyślną obwódkę */
    border-color: transparent; /* Ustaw przezroczysty kolor obramowania po kliknięciu */
}

.product-list {
    border: 1px solid #356F90; /* Dodaj obramowanie */
    border-radius: 10px; /* Zaokrągl rogi */
    padding: 10px; /* Wewnętrzny odstęp */
    background-color: white; /* Białe tło */
    width: 80%;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.product-list:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-list select {
    width: 100%;
    height: 90px; /* Ustaw wysokość na 90 pikseli */
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    color: #356F90;
}

.product-list select:focus {
    outline: none; /* Usuń domyślny niebieski zaznaczenie na elemencie select */
}

.product-list select option {
    background-color: white; /* Białe tło przed zaznaczeniem */
    color: #356F90; /* Kolor tekstu przed zaznaczeniem */
}

.product-list select option:checked {
    background-color: darkgray; /* Kolor podświetlenia po zaznaczeniu */
    color: white; /* Kolor tekstu po zaznaczeniu */
}

.expiry-date {
    border: 1px solid #356F90; /* Dodaj obramowanie */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    text-align: center; /* Wyśrodkowanie tekstu */
    height: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.expiry-date:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.expiry-date input {
    height: 20px;
    width: 50%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    color: #356F90;
    outline: none;
}

/* Styl dla samej etykiety "Data ważności" */
.expiry-date h3 {
    font-size: 24px;
    color: #AD4027;
}


.tablets-count  {
    border: 1px solid #356F90; /* Dodaj obramowanie */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    text-align: center; /* Wyśrodkowanie tekstu */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.tablets-count input::placeholder {
    font-size: 16px; /* Zwiększ rozmiar czcionki */
    color: #356F90; /* Kolor tekstu */
}


.tablets-count:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tablets-count input {

    height: 20px;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    color: #356F90;
    outline: none; /* Usunięcie obramowania po kliknięciu */
    text-align: center; /* Wyśrodkowanie tekstu wewnątrz inputa */
}

.labels {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column; /* Zmiana kierunku flex na kolumnowy */
    text-align: center; /* Wyśrodkowanie tekstu w pionie */
}


.dose-count.custom-dosing-container {
    border: 1px solid #356F90;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    height: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-dosing-field {
    display: flex;
    align-items: center; /* Wyśrodkowanie checkboxa wewnątrz pola */
}

.custom-dosing-field input {
    margin: 0; /* Usunięcie domyślnego marginesu od checkboxa */
}


.custom-dosing-field {
    flex-shrink: 0; /* Zapobiegnij kurczeniu się pola checkbox */
    margin-right: 10px; /* Dodanie marginesu do pola checkboxa */
    display: flex;
    align-items: center; /* Wyśrodkowanie checkboxa wewnątrz pola */
}

.dose-count-field {
    display: flex;
    align-items: center;
}

.dose-count.custom-dosing-container:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-container {
    flex-shrink: 0; /* Zapobiega zmniejszaniu przycisków podczas zmniejszania szerokości */
    margin: 0 10px; /* Odstęp między przyciskami a tekstem */
}


.dose-count-field,
.custom-dosing-field {
    flex: 1; /* Elastyczne dostosowanie szerokości */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 10px; /* Dodaj odstęp wewnątrz pól */
    display: flex;
    align-items: center;
    gap: 10px;
    color: #356F90;
}

.dose-count-field button {
    background: none;
    padding: 10px;
    color: #356F90; /* Kolor napisu */
    border: none;
    border-radius: 50%; /* Zaokrąglenie do kształtu kółka */
    cursor: pointer;
    outline: none; /* Usunięcie obramowania po kliknięciu */
    width: 30px; /* Ustawienie szerokości przycisku */
    height: 30px; /* Ustawienie wysokości przycisku */
    transition: background 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s, font-size 0.3s; /* Dodanie tranzycji do font-size i box-shadow */
    font-size: 16px; /* Zwiększenie rozmiaru fontu */
    font-weight: bolder;
    display: flex; /* Ustawienie elementu flexbox */
    align-items: center; /* Wyśrodkowanie w pionie */
    justify-content: center; /* Wyśrodkowanie w poziomie */
}

.dose-count-field button:hover {
    color: #AD4027;
    border: 1px solid #AD4027;
    font-weight: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Dodanie cienia po najechaniu */
    font-size: 26px; /* Zwiększenie rozmiaru fontu po najechaniu */
}


.dose-count-field span {
    font-size: 18px;
}

.dose-count-field h3,
.custom-dosing-field h3 {
    margin: 0; /* Usunięcie domyślnego marginesu h3 */
}

.dose-count-field select {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    color: #356F90;
    text-align: center; /* Wyśrodkuj zawartość w pionie */
}

.dose-count-field select:focus {
    outline: none;
}

.custom-dosing-field input[type="checkbox"] {
    transform: scale(1.2); /* Zwiększ rozmiar checkboxa */
    border: 2px solid transparent; /* Usuń obramowanie */
    border-radius: 5px; /* Zaokrągl rogi obramowania */
    background-color: #356F90; /* Zmień tło na niebieskie po zaznaczeniu */
    border: 2px solid #356F90; /* Dodaj obramowanie po zaznaczeniu */
}

.dose-times {
    border: 1px solid #356F90; /* Dodaj obramowanie */
    border-radius: 10px; /* Zaokrągl rogi */
    padding: 10px; /* Wewnętrzny odstęp */
    background-color: white; /* Białe tło */
    width: 80%;
    ext-align: center; /* Wyśrodkuj zawartość */
    margin: 0 auto; /* Wyśrodkuj na stronie */
    display: flex; /* Ustaw wyświetlanie jako flexbox */
    justify-content: center; /* Wyśrodkuj zawartość w poziomie */
    align-items: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.dose-times:hover {
    border-color: #AD4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styl dla input typu "time" wewnątrz dose-times */
.dose-times input[type="time"] {
    border: none; /* Usuń obramowanie */
    font-size: 16px; /* Ustaw rozmiar czcionki */
    color: #356F90; /* Ustaw kolor tekstu */
    text-align: center; /* Wyśrodkuj zawartość */
    outline: none; /* Usuń obramowanie po kliknięciu */
}

/* Styl dla input typu "number" wewnątrz dose-times */
.dose-times input[type="number"] {
    border: none; /* Usuń obramowanie */
    font-size: 16px; /* Ustaw rozmiar czcionki */
    color: #356F90; /* Ustaw kolor tekstu */
    text-align: center; /* Wyśrodkuj zawartość */
    outline: none; /* Usuń obramowanie po kliknięciu */
}

.dose-count.custom-dosing-container {
    display: flex;
    align-items: center;
}

.dose-count-field, .custom-dosing-field {
    flex: 1;
    margin-right: 20px; /* Dodatkowy margines między polami */
}


.content.with-background #save-button {
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #AD4027;
    background: white;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    gap: 30px;
    margin: 20px auto;
    text-align: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.content.with-background #save-button:hover {
    border: 1px solid #356F90;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #356F90;
}
/* Styl dla nowego diva zawierającego input range */
.range-container {
    position: relative;
    width: 100%;
}

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styl dla wyświetlania wartości nad input range */
.range-value {
    position: absolute;
    top: 0px; /* Zmniejsz odległość od góry */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #3498db;
}

.dose-times button {
    background: none;
    padding: 10px;
    color: #356F90; /* Kolor napisu */
    border: none;
    border-radius: 50%; /* Zaokrąglenie do kształtu kółka */
    cursor: pointer;
    outline: none; /* Usunięcie obramowania po kliknięciu */
    width: 30px; /* Ustawienie szerokości przycisku */
    height: 30px; /* Ustawienie wysokości przycisku */
    transition: background 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s, font-size 0.3s; /* Dodanie tranzycji do font-size i box-shadow */
    font-size: 16px; /* Zwiększenie rozmiaru fontu */
    font-weight: bolder;
    display: flex; /* Ustawienie elementu flexbox */
    align-items: center; /* Wyśrodkowanie w pionie */
    justify-content: center; /* Wyśrodkowanie w poziomie */
}

.dose-times button:hover {
    color: #AD4027;
    border: 1px solid #AD4027;
    font-weight: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Dodanie cienia po najechaniu */
    font-size: 26px; /* Zwiększenie rozmiaru fontu po najechaniu */
}